{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": [2, "never"],
    "no-confusing-arrow": "off"
  },
  "parserOptions":{
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  }
}
